.forget-password {
    padding-left: 0px;
}

.emailInput {
    padding-top: 10px;
}

.contentBody {
    padding: 60px 1rem;
    background: #1b6ca8;
    display: block;
}

.aLink {
    float: right;
    padding-right: 60px;
    text-decoration: none;
}

.aLink {
    &-right {
        float: right;
    }
    &-left {
        float: left;
    }
}

.create-account {
    text: {
        align: end;
    }
    cursor: pointer;
    color: darken(white, 50%);
}

.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}