<mat-card>
    <mat-card-content>
        <div class="header">
            <p class="h6 m-2">Zadajte email od zabudnutého hesla</p>
        </div>
        <form (ngSubmit)="onSubmit()" name="loginForm" [formGroup]="emailForm">
            <div class="emailInput">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Zadajte emailovú adresu" required />
                    <mat-error *ngIf="!emailForm.controls['email'].valid">
                        Email je povinný údaj
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary" class="m-3"><mat-icon>password</mat-icon> Vygenerovať nové heslo</button>
        </form>

        <div class="button-row">
            <a class="aLink-left" routerLink="/">Stránka prihlásenia sa</a>
        </div>
    </mat-card-content>
</mat-card>