<mat-card>
    <mat-card-content>
      <div class="header">
        <p class="h6 m-2">{{titleText}}</p>
      </div>
      <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="Zadajte emailovú adresu" required
            />
            <mat-error *ngIf="!loginForm.controls['email'].valid">
                Email je povinný údaj
              </mat-error>
          </mat-form-field>
        </div>

        <div class="mt-2">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Heslo</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required />
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Skryť heslo'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!loginForm.controls['password'].valid">
            Heslo je povinný údaj
          </mat-error>
        </mat-form-field>
        </div>
        <button mat-flat-button color="primary" class="m-3" *ngIf="!createAccount"><mat-icon>login</mat-icon> Prihlásiť</button>
        <button mat-flat-button color="primary" class="m-3"  *ngIf="createAccount"><mat-icon>person_add</mat-icon> Vytvoriť účet</button>
      </form>


      <div *ngIf="!createAccount" class="button-row">
        <a class="aLink-right" routerLink="/forgottenPassword">Zabudnuté heslo?</a>
        <a class="aLink-left"  routerLink="/createAccount">Vytvoriť nový účet</a>
      </div>
      <div *ngIf="createAccount" class="button-row">
        <a class="aLink-left" routerLink="/">Prihlásiť sa</a>
      </div>
    </mat-card-content>
  </mat-card>